@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Google Result Parser</h1>

    <div class="input-group">
        <input type="text" class="form-control" name="" value="" placeholder="enter your query">
        <span class="input-group-btn">
            <button type="button" class="btn btn-success">Search</button>
        </span>
    </div>

    <ul class="list-group google-results">
        <li class="list-group-item result-item">
            Curl
            <span class="pull-right result-link"><a href="http://www.curl.pl">www.curl.pl</a></span>
        </li>
        <li class="list-group-item result-item">
            Curl
            <span class="pull-right result-link"><a href="http://www.curl.pl">www.curl.pl</a></span>
        </li>
        <li class="list-group-item result-item">
            Curl
            <span class="pull-right result-link"><a href="http://www.curl.pl">www.curl.pl</a></span>
        </li>             
        <li class="list-group-item result-item">
            Curl
            <span class="pull-right result-link"><a href="http://www.curl.pl">www.curl.pl</a></span>
        </li>     
    </ul>
</div>